body {
    background: #dddddd;
    margin: 0px 0px 0px 0px;
}


canvas {
    background: #efefef;
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0px;
    top: 0px;
}

input {
    border:2px dotted #aaa;
    border-width: 2px;
    font-size: 16px;

    position: absolute;
    z-index: 1;
    left: 100px;
    top: 5px;
}

button:hover, button:focus {
    background: #356094;
    text-decoration: none;
}
button#input_start {
    padding: 5px 5px;
    background: #AAA;
    color: #FFF;

    border-width: 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;

    position: absolute;
    z-index: 1;
    left: 5px;
    top: 5px;
}

.container {
    /* position: relative; */
    width: 100%;
}

.title {
    font-family: 'Sacramento', cursive;
    font-size: 12px;

    position: absolute;
    z-index: 1;
    right: 10px;
    top: -10px;
}

.notebook {
    /* position: absolute; */
    /* z-index: 1; */
    /* left: 10px; */
    /* bottom: 10px; */
}
#detector {
    font-size: 10px;
    position: absolute;
    z-index: 1;
    left: 5px;
    top: 30px;
}
